.c-search {
    text-align: right;
    margin-right: 40px;
    padding: 40px 0 40px;;
    label {
        font-size: 12px;
        margin-right: 20px;
    }

    input {
        min-width: 100px;
        width: 20%;
    }
}